@import "tailwindcss";
@font-face {
  font-family: 'Bakbak One';
  src: url('/fonts/BakbakOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.font-bakbak {
  font-family: 'Bakbak One', sans-serif;
}

@font-face {
  font-family: 'Big Shoulders';
  src: url('/fonts/BigShoulders-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* supports variable weights */
  font-style: normal;
  font-display: swap;
}

.font-bigshoulders {
  font-family: 'Big Shoulders', sans-serif;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 1s ease-out forwards;
}
